<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      ＊<%= @room.room_name %>さんの連絡ルーム＊
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a class="btn btn-danger" href="#">ルームを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.select :heat, [["35.5度", "35.5度"],["35.6度", "35.6度"],["35.7度", "35.7度"],["35.8度", "35.8度"],["35.9度", "35.9度"],["36.0度", "36.0度"],["36.1度", "36.1度"],["36.2度", "36.2度"],["36.3度", "36.3度"],["36.4度", "36.4度"],["36.5度", "36.5度"],["36.6度", "36.6度"],["36.7度", "36.7度"],["36.8度", "36.8度"],["36.9度", "36.9度"],["37.0度", "37.0度"],["37.1度", "37.1度"],["37.2度", "37.2度"],["37.3度", "37.3度"],["37.4度", "37.4度"],["37.5度以上", "37.5度以上"]], include_blank: "体温",  class: "form-control", id: "content" %>
    <%= f.select :condition, [["良い", "1"],["普通", "2"],["悪い", "3"]], include_blank: "体調", class: "form-control", id: "content" %>
    <%= f.text_area :content, class: "form-control", placeholder:"メッセージを入力", id:"content", rows:"3" %>
    <label class="form-image">
      <span class="btn btn-outline-dark">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit '送信', class:"btn btn-info"%>
<% end %>