<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      ＊<%= @room.room_name %>さんの連絡ルーム＊
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "ルームを終了する",room_path(@room), class:"btn btn btn-danger", method: :delete %>
    </div>
  </div>
</div>

<div id="message-container">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form', id: "form" do |f| %>
  <div class="form-input">
    <%= f.collection_select(:heat_id, Heat.all, :id, :name, {}, {class:"btn btn-outline-secondary dropdown-toggle", id:"select_box"}) %>
    <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"btn btn-outline-secondary dropdown-toggle", id:"select_box"}) %>
    <%= f.text_area :content, class: "form-control", placeholder:"メッセージを入力", id:"message_content", rows:"3" %>
    <label class="form-image">
      <span class="btn btn-outline-dark">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  
  <%= f.submit '送信', class:"btn btn-info", id:"submit" %>
  
<% end %>