<div class="edit">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2>＊編集＊</h2>
      <div class="field">
        <%= f.label :name, "名前（例：山田 太郎）" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "name-box" %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-box" %>
      </div>

      <div class="field">
        <%= f.label :password,"パスワード" %>
        <% if @minimum_password_length %>
        <em>（６文字以上）</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "password-box" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password-box" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class: "sign-btn" %>
      </div>
  <% end %>
</div>
