<!DOCTYPE html>
<html>
  <head>
    <title>OuchiToEn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="btn btn-outline-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
      ホーム
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button type="button" class="btn btn-outline-warning">連絡ルーム</button>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class:"btn btn-outline-danger" %>
          </li>
        <% else%>
          <li class="nav-item">
            <%= link_to "新規登録",new_user_registration_path, class:"btn btn-outline-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン",new_user_session_path, class:"btn btn-outline-success" %>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="btn btn-primary" href="#" role="button">投稿する</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
